.app-container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  @media (min-width: 768px) {
    .app-container {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 3.75rem;
    }
  }
  
  .left-section, .right-section {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
  }
  
  .left-section h2, .right-section h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .left-section p, .right-section p {
    font-size: 1rem;
  }
  
  .hidden-left {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  .hidden-right {
    transform: translateX(100%);
    opacity: 0;
  }
  
  .visible {
    transform: translateX(0);
    opacity: 1;
  }
  